* {
  font-family: 'Permanent Marker', cursive;
}
body {
  background-color: lightblue;
  text-align: center;
  font-size: 20px;
}
p{
  color: black;
}
h1 {
  color: #;
  text-decoration: none;
}

.main {
  margin: 5% 20%;
  border: solid 2px firebrick;
  border-radius: 10px;
}

.creditNum {
  margin-top: 5%;
  margin-bottom: 4%;
}
/* Button Style Start */
button {
  color: #494949 !important;
  text-transform: uppercase;
  background: #ffffff;
  margin-bottom: 30px;
  padding: 5px;
  border: 2px solid #494949 !important;
  border-radius: 6px;
  display: inline-block;
}
button:hover {
  color: #ffffff !important;
  background: firebrick;
  border-color: firebrick !important;
  transition: all 0.2s ease 0s;
}
/* Button Style Ends */
